<div class="container-fluid">
    <h1 class="mt-4">Controle Anual: {{idCOntrole.id}}</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Gerencie seus gastos mensais</li>
    </ol>
</div>
<main>
    <div class="container-fluid" style="height: 100rem;">
        <p-tabView>
            <p-tabPanel header="Header 1">
               Content 1
            </p-tabPanel>
            <p-tabPanel header="Header 2">
                Content 2
            </p-tabPanel>
            <p-tabPanel header="Header 3">
                Content 3
            </p-tabPanel>
        </p-tabView>
    </div>
</main>
