<main>
    <div class="container-fluid">
        <h1 class="mt-4">Categorias</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Gerencie suas categorias</li>
        </ol>

        <div class="card mb-6 ">
            <div class="card-header"><i class="fas fa-save mr-1"></i>Cadastro Categoria:</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6 " style="padding-bottom: 2%">
                        <textarea class="form-control" pInputText [(ngModel)]="categoria.descricao" name="descricao"
                            #descricao="ngModel" required minlength="4" aria-label="With textarea"></textarea>
                        <input name="catid" hidden [(ngModel)]="categoria.id" />

                    </div>
                    <div class="ol-sm-6 ">
                        <button class="btn btn-small btn-success" *ngIf="categoria.id == ''"
                            (click)="salvarCategoria()">Salvar</button>
                        <button class="btn btn-small btn-success" *ngIf="categoria.id != ''"
                            (click)="editarCategoria()">Salvar</button>

                    </div>
                    <div class="ol-sm-6 " style="padding-left: 1%">
                        <button class="btn btn-small btn-info" (click)="clear()">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="card mb-4" style=" height: 100rem;">

            <div class="card-header"><i class="fas fa-table mr-1"></i>Dados:</div>
            <div class="card-body">
                <div class="table-responsive">
                    <p-table #tt [columns]="cols" [value]="categorias" [paginator]="true" [rows]="5"
                        [globalFilterFields]="['descricao','id']">
                        <ng-template pTemplate="caption">
                            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                            <input type="text" pInputText size="50" placeholder="Global Filter"
                                (input)="tt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                        </ng-template>
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th>ID</th>
                                <th>Desccrição</th>
                                <th>Editar</th>
                                <th>Excluir</th>
                            </tr>

                        </ng-template>
                        <ng-template pTemplate="body" let-categorias>
                            <tr>
                                <td>
                                    {{categorias.id}}
                                </td>
                                <td>
                                    {{categorias.descricao}}
                                </td>
                                <td><button class="btn btn-warning" (click)="setParaEdit(categorias)"><i
                                            class="fas fa-edit mr-1"></i></button></td>
                                <td><button class="btn btn-danger" (click)="deletar(categorias)"><i
                                            class="fas fa-trash mr-1"></i></button></td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage" let-columns>
                            <tr>
                                <td [attr.colspan]="columns.length">
                                    Nenhuma Categoria cadastrada!
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>

        </div>
    </div>
</main>