
.main{
  position: relative; /* all child elements gets positioned relative to this element */
}
.card-header .card{
  position: fixed; /* stay fixed on top */
  top: 0;
  width: 100%;
  z-index: 1; /* needed to stay above other elements */
}
